* {
    cursor: default;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #121212;
}
ul{
    list-style-type: circle;
}

input[type=checkbox]{
    accent-color: #9f72b0;
}
p{
    font-size: 16px;
}